{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(.*)/actions/(.*)$",
    "^(.*)/shared/components/(.*)$",
    "^(.*)/components/(.*)$",
    "^(.*)/hooks/(.*)$",
    "^(.*)/providers/(.*)$",
    "^(.*)/services/(.*)$",
    "^(.*)/(.*).config$",
    "^(.*)/(.*).types$",
    "^(.*)/(.*).utils$",
    "^./(.*)",
    "^[./]"
  ]
}
